 
img {
  max-width: 100%;
  display: block;
}

.Head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.Glyphs {
  display: grid;
  grid-row-gap: 1px;
  grid-column-gap: 0px;
  grid-template-columns: repeat(64, 1.5em);
  grid-template-rows: repeat(3, auto);
  padding-left: 2%;
  padding-right: 2%;
}

.Glyphs img {
  width: 1.5em;
  height: 1.5em;
  background-color: #505050;
}

.Input {
  display: grid;
  grid-row-gap: 1px;
  grid-column-gap: 0px;
  grid-template-columns: repeat(64, 1.5em);
  grid-template-rows: repeat(3, auto);
  padding-left: 2%;
  padding-right: 2%;

  text-align: center;
}

.correct {
  color: green;
  background-color: rgba(0, 255, 0, 0.2);
}

.incorrect {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
}

.selected {
  background-color: rgba(100, 100, 100, 0.2);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other content */
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  text-align: center;
}

.button-grid {
  display: grid;
  grid-row-gap: 1px;
  grid-column-gap: 0px;
  grid-template-columns: repeat(3, 1.5em);
  grid-template-rows: repeat(3, 1.5em);
  padding-left: 2%;
  padding-right: 2%;
  grid-auto-flow: column;
  text-align: center;
}

.button-notselected {
  color: rgb(150, 150, 150);
}

.button-selected {
  color: rgb(20, 20, 20);
}
