.Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-content: space-between;*/
}

img {
    max-width: 100%;
    display: block;
}

#head-div {
    background-color: #d8d8d8;
    margin: 0px;
    padding: 0px;
    display: block;
}

.Head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;

    font-size: large;
    border: 1px solid #000000;

}

.Glyphs {
    display: grid;
    grid-row-gap: 1px;
    grid-column-gap: 0px;
    grid-template-columns: repeat(64, 1.5625%);
    grid-template-rows: repeat(3, auto);
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    margin-bottom: 5%;

    background-color: #fbfbfb;
    border: 1px solid #000000;
}

.Glyphs img {
    width: 2vw;
    height: 2vw;
    /*background-color: #505050;*/
}

.NonCurrent {
    opacity: 30%;
}

.Input {
    display: grid;
    grid-row-gap: 1px;
    grid-column-gap: 0px;
    grid-template-columns: repeat(64, 1.5625%);
    grid-template-rows: repeat(3, 4vh);
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;

    text-align: center;


}

/*.Input p {*/
/*    width: 2vw;*/
/*    height: 2vw;*/

/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.Input p {
    /*height: 100%;*/
    max-width: 100%;
    max-height: 100%;
    width: 2vw;
    height: 2vw;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

.Input p {
}

.correct {
    color: green;
    background-color: rgba(0, 255, 0, 0.2);
}

.incorrect {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
}

.selected {
    background-color: rgba(100, 100, 100, 0.2);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other content */
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.button-grid {
    display: grid;
    grid-row-gap: 1px;
    grid-column-gap: 0px;
    grid-template-columns: repeat(3, 1.5em);
    grid-template-rows: repeat(3, 1.5em);
    padding-left: 2%;
    padding-right: 2%;
    grid-auto-flow: column;
    text-align: center;
}

#charsel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.button-notselected {
    color: rgb(150, 150, 150);
}

.button-selected {
    color: rgb(20, 20, 20);
}
